GITHUB_TOKEN="token here"
GITHUB_USERNAME="username"
COMMIT_AUTHOR_NAME= "author name"
COMMIT_AUTHOR_EMAIL= "author email"
LOCAL_REPOS_BASE_DIR=./repos
MIN_COMMITS_PER_DAY=3
MAX_COMMITS_PER_DAY=6
ACTIVITY_WEIGHTS=commits:50,issues:20,pull_requests:20,reviews:10
